---
interface Props {
  title: string;
  items: {
    data: {
      subtitle: string;
    };
  }[];
  slug: string;
  percentage: number | undefined;
  index: number;
}

const { title, items, slug, percentage, index } = Astro.props;
---

<div
  class="py-10 md:py-12 lg:py-16 xl:py-24 px-6 sm:px-8 md:px-12 xl:px-14 rounded-xl bg-[#1F2831B2] border border-[#2D3843] shadow-card text-sm text-[#F6F7F9CC] leading-5 md:grid md:grid-cols-12 md:gap-5"
>
  <div class="md:col-span-5">
    <h3 class="text-[#F6F7F9] font-bold">
      <div class="text-3xl sm:text-4xl xl:text-5xl mb-3">Milestone {index}</div>
      <div class="text-xl sm:text-2xl xl:text-[32px] leading-tight">
        {title}
      </div>
    </h3>

    {
      percentage !== undefined && (
        <div class="mt-8 text-[#F6F7F9]">
          <div class="flex justify-between text-sm">
            <div class="font-bold">Completed</div>
            <div class="tabular-nums font-medium">{percentage}%</div>
          </div>
          <div class="mt-2 rounded-full overflow-hidden h-2 bg-[#27303B] relative">
            <div
              class="absolute h-full left-0 top-0 bottom-0 rounded-full"
              style={`width: ${percentage}%;background: linear-gradient(90deg, #4D39DA 0%, #FF6B26 110.41%);`}
            />
          </div>
        </div>
      )
    }
  </div>
  <div class="md:col-span-6 md:col-start-7 mt-8 md:mt-0">
    <ul class="list-outside list-disc pl-6 mb-8">
      {items.map((item) => <li>{item.data.subtitle}</li>)}
    </ul>

    <a
      class="font-bold bg-[#2D3742] px-4 rounded-full py-2 leading-none no-underline transition duration-200 whitespace-nowrap focus:outline-none text-[#F6F7F9] text-opacity-80 hover:text-opacity-60"
      href={slug + `/`}>More information -></a
    >
  </div>
</div>
